@import "tailwindcss";

:root {
  --cream: 251 247 242;
  --peach: 253 232 228;
  --lavender: 237 233 254;
  --babyblue: 230 240 255;
  --blush: 250 218 221;
  --gold: 198 167 94;

  --text-primary: 28 28 0;
  --text-muted: 110 110 110;

  --radius-xl: 42px;
}

body {
  background: rgb(var(--cream));
  color: rgb(var(--text-primary));
  font-feature-settings: "liga" 1, "calt" 1;
}
